/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
  font-family: 'Brusher';
  src: url("../fonts/BRUSHER.TTF"); }

/* Misc */
.negro {
  color: #051629; }

.azul-secondary {
  color: #0057c2; }

.azul {
  color: #88a3c4; }

.rojo {
  color: #ad2c10; }

.blanco {
  color: #f8f8f8; }

.amarillo {
  color: #fbdb4c; }

.naranja {
  color: #e17c2c; }

.text-large {
  font-size: 5.2em; }

.text-semi-large {
  font-size: 3.5rem; }

.text-medium {
  font-size: 2.8em; }

.text-semi-medium {
  font-size: 2.2em; }

.text-base {
  font-size: 1.8em; }

.text-small {
  font-size: 1.2em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Brusher"; }

ul {
  list-style: none;
  padding: 0%; }

a {
  text-decoration: none; }

/* partials */
header {
  background-color: #fbdb4c; }
  header .navMobile {
    display: none; }
  header .nav-link {
    color: #051629;
    font-size: 2.8em;
    transition: all 0.6s; }
    header .nav-link:hover {
      color: #0057c2;
      border-bottom: 2px solid #ad2c10; }
  header .navbar-toggler-icon {
    font-size: 2.2em; }
  header .navDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0; }
    header .navDesktop ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2.4rem; }

footer {
  background-color: #88a3c4; }
  footer .esloganUbicacionMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0; }
    footer .esloganUbicacionMenu__titulo {
      font-size: 3.5rem;
      color: #051629; }
    footer .esloganUbicacionMenu__texto {
      font-size: 1.8em;
      color: #0057c2; }
  footer .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0; }
    footer .copyright article {
      border-top: 2px solid #0057c2; }
      footer .copyright article p {
        font-size: 1.8em;
        color: #051629;
        margin-top: 1em; }

/* pages */
.seccionFondoTituloContacto {
  background: url("../img/Imagenparacarousel2.jpg");
  background-size: cover;
  text-align: center;
  height: 400px; }
  .seccionFondoTituloContacto h2, .seccionFondoTituloContacto .seccionFondoTituloSobreNosotros p, .seccionFondoTituloSobreNosotros .seccionFondoTituloContacto p {
    padding-top: 160px;
    font-size: 30px; }

.seccionFormulario {
  background-color: #e17c2c; }
  .seccionFormulario article {
    text-align: center; }
    .seccionFormulario article form div label {
      font-size: 20px; }
    .seccionFormulario article form div button {
      font-size: 20px; }
    .seccionFormulario article h4 {
      font-size: 24px; }
    .seccionFormulario article h6 {
      font-size: 20px; }
    .seccionFormulario article p {
      font-size: 16px; }

main .contenedorDeGaleria {
  background-color: #ad2c10; }
  main .contenedorDeGaleria .galeriaDeInicio {
    background-color: #ad2c10;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1.4rem; }
    main .contenedorDeGaleria .galeriaDeInicio__article1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2; }
    main .contenedorDeGaleria .galeriaDeInicio__article2 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2; }
    main .contenedorDeGaleria .galeriaDeInicio__article3 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2; }
    main .contenedorDeGaleria .galeriaDeInicio__article4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }
    main .contenedorDeGaleria .galeriaDeInicio__article5 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 3; }
    main .contenedorDeGaleria .galeriaDeInicio__article6 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 3; }
    main .contenedorDeGaleria .galeriaDeInicio__article7 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4; }
    main .contenedorDeGaleria .galeriaDeInicio__article8 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 3;
      grid-row-end: 4; }
    main .contenedorDeGaleria .galeriaDeInicio__article9 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 4; }
    main .contenedorDeGaleria .galeriaDeInicio__img {
      width: 100%; }

main .descripcionLocal {
  background-color: #f8f8f8; }
  main .descripcionLocal__texto {
    color: #051629;
    text-align: center;
    font-size: 3.5rem; }

.mainPuntosDeVenta {
  background-color: #e17c2c; }

.seccionUbicaciones {
  text-align: center; }
  .seccionUbicaciones h2, .seccionUbicaciones .seccionFondoTituloSobreNosotros p, .seccionFondoTituloSobreNosotros .seccionUbicaciones p {
    font-size: 30px; }
  .seccionUbicaciones article {
    border: 1px solid #f8f8f8; }
    .seccionUbicaciones article div img {
      width: 25.02px; }

.seccionMaps {
  text-align: center; }

.seccionInvitacion {
  background-color: #88a3c4;
  text-align: center; }
  .seccionInvitacion h4 {
    font-size: 20px; }

.mainSobreNosotros {
  background-color: #e17c2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0; }

.seccionFondoTituloSobreNosotros {
  background: url("../img/Imagenparacarousel3.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .seccionFondoTituloSobreNosotros h2, .seccionFondoTituloSobreNosotros p {
    font-size: 30px;
    text-align: center; }

.seccionesNosotrosyNuestroCompromiso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0; }

.seccionNosotros {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0; }
  .seccionNosotros article h3, .seccionNosotros article p {
    font-size: 28px;
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem; }
  .seccionNosotros article p {
    font-size: 16px;
    margin: 0;
    padding: 0; }
  .seccionNosotros article img {
    width: 324px;
    padding: 1rem; }

.seccionNuestroCompromiso {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0; }
  .seccionNuestroCompromiso article h3, .seccionNuestroCompromiso article p {
    font-size: 28px;
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem; }
  .seccionNuestroCompromiso article p {
    font-size: 16px;
    margin: 0;
    padding: 0; }
  .seccionNuestroCompromiso article img {
    width: 300px;
    padding: 1rem; }

/* Misc media-querys*/
@media screen and (max-width: 1300px) {
  .maps-puntos-de-venta {
    width: 500px;
    height: 350px; } }

@media screen and (max-width: 1100px) {
  main .contenedorDeGaleria .galeriaDeInicio {
    gap: 0.8rem; } }

@media screen and (max-width: 993px) {
  header .navDesktop {
    display: none; }
  header .navMobile {
    display: block; }
  header .nav-link {
    font-size: 2.2em; } }

@media screen and (max-width: 800px) {
  main .descripcionLocal__texto {
    font-size: 2.8em; }
  footer .esloganUbicacionMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    footer .esloganUbicacionMenu__titulo {
      text-align: center; }
    footer .esloganUbicacionMenu li {
      text-align: center; } }

@media screen and (max-width: 750px) {
  main .contenedorDeGaleria .galeriaDeInicio {
    gap: 0.4rem; } }

@media screen and (max-width: 670px) {
  .seccionNosotros, .seccionNuestroCompromiso {
    flex-direction: column; } }

@media screen and (max-width: 500px) {
  main .contenedorDeGaleria .galeriaDeInicio {
    gap: 0.1rem; } }

@media screen and (max-width: 350px) {
  .seccionNosotros article img {
    width: 233.28px; }
  .seccionNuestroCompromiso article img {
    width: 200px; } }
