/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
/* Misc */
.negro {
  color: #051629; }

.azul {
  color: #618ec5; }

.rojo {
  color: #ad2c10; }

.blanco {
  color: #e1dfdc; }

.amarillo {
  color: #fbdb4c; }

.naranja {
  color: #e17c2c; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif; }

#facebook-icon, #instagram-icon {
  width: 24px;
  height: 24px; }

#whatsapp-icon {
  width: 28px;
  height: 28px; }

/* partials */
header {
  background-color: #fbdb4c; }
  header nav div a img {
    width: 108px;
    height: 108px; }

footer {
  background-color: #fbdb4c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 2rem; }
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0; }
    footer div ul {
      display: flex;
      list-style: none; }
      footer div ul li, footer div ul h5, footer div ul p {
        margin: 0.2rem;
        padding: 0.2rem;
        text-align: center; }

.footer-maps {
  width: 450px;
  height: 300px; }

/* pages */
.seccionFondoTituloContacto {
  background: url("../img/Imagenparacarousel2.jpg");
  background-size: cover;
  text-align: center;
  height: 400px; }
  .seccionFondoTituloContacto h2, .seccionFondoTituloContacto .seccionFondoTituloSobreNosotros p, .seccionFondoTituloSobreNosotros .seccionFondoTituloContacto p {
    padding-top: 160px;
    font-size: 30px; }

.seccionFormulario {
  background-color: #e17c2c; }
  .seccionFormulario article {
    text-align: center; }
    .seccionFormulario article form div label {
      font-size: 20px; }
    .seccionFormulario article form div button {
      font-size: 20px; }
    .seccionFormulario article h4 {
      font-size: 24px; }
    .seccionFormulario article h6 {
      font-size: 20px; }
    .seccionFormulario article p {
      font-size: 16px; }

main .section-presentacion {
  background: url("../img/Imagenparacarousel1.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  main .section-presentacion__article__eslogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    main .section-presentacion__article__eslogan h1, main .section-presentacion__article__eslogan p {
      font-size: 36px;
      text-align: center; }
    main .section-presentacion__article__eslogan p {
      font-size: 26px; }
  main .section-presentacion__article__links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    list-style: none; }
    main .section-presentacion__article__links ul li, main .section-presentacion__article__links ul footer div h5, footer div main .section-presentacion__article__links ul h5, main .section-presentacion__article__links ul footer div p, footer div main .section-presentacion__article__links ul p {
      margin: 0.2rem;
      padding: 0.2rem; }
      main .section-presentacion__article__links ul li a, main .section-presentacion__article__links ul footer div h5 a, footer div main .section-presentacion__article__links ul h5 a, main .section-presentacion__article__links ul footer div p a, footer div main .section-presentacion__article__links ul p a {
        text-decoration: none;
        color: #051629; }

main .section-nosotros {
  background-color: #618ec5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0; }
  main .section-nosotros article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 20px; }
    main .section-nosotros article h3, main .section-nosotros article p {
      color: #051629;
      font-size: 26px;
      padding: 10px; }
    main .section-nosotros article p {
      font-size: 18px; }

.menu {
  background-color: #ad2c10;
  padding-bottom: 2rem; }
  .menu div h2, .menu div .seccionFondoTituloSobreNosotros p, .seccionFondoTituloSobreNosotros .menu div p {
    font-size: 30px;
    color: #e1dfdc;
    padding: 0.5rem; }
  .menu div article img {
    width: 366.7px;
    transition: all 0.7s; }
    .menu div article img:hover {
      cursor: pointer;
      border: 5px solid #ad2c10; }
  .menu div article h4 {
    padding: 0.8rem;
    font-size: 22px; }
  .menu div article p {
    padding-bottom: 20px;
    font-size: 18px; }

.mainPuntosDeVenta {
  background-color: #e17c2c; }

.seccionUbicaciones {
  text-align: center; }
  .seccionUbicaciones h2, .seccionUbicaciones .seccionFondoTituloSobreNosotros p, .seccionFondoTituloSobreNosotros .seccionUbicaciones p {
    font-size: 30px; }
  .seccionUbicaciones article {
    border: 1px solid #e1dfdc; }
    .seccionUbicaciones article div img {
      width: 25.02px; }

.seccionMaps {
  text-align: center; }

.seccionInvitacion {
  background-color: #618ec5;
  text-align: center; }
  .seccionInvitacion h4 {
    font-size: 20px; }

.mainSobreNosotros {
  background-color: #e17c2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0; }

.seccionFondoTituloSobreNosotros {
  background: url("../img/Imagenparacarousel3.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .seccionFondoTituloSobreNosotros h2, .seccionFondoTituloSobreNosotros p {
    font-size: 30px;
    text-align: center; }

.seccionesNosotrosyNuestroCompromiso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0; }

.seccionNosotros {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0; }
  .seccionNosotros article h3, .seccionNosotros main .section-nosotros article p, main .section-nosotros .seccionNosotros article p, .seccionNosotros article p {
    font-size: 28px;
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem; }
  .seccionNosotros article p {
    font-size: 16px;
    margin: 0;
    padding: 0; }
  .seccionNosotros article img {
    width: 324px;
    padding: 1rem; }

.seccionNuestroCompromiso {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0; }
  .seccionNuestroCompromiso article h3, .seccionNuestroCompromiso main .section-nosotros article p, main .section-nosotros .seccionNuestroCompromiso article p, .seccionNuestroCompromiso article p {
    font-size: 28px;
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem; }
  .seccionNuestroCompromiso article p {
    font-size: 16px;
    margin: 0;
    padding: 0; }
  .seccionNuestroCompromiso article img {
    width: 300px;
    padding: 1rem; }

/* Misc media-querys*/
@media screen and (max-width: 1300px) {
  .maps-puntos-de-venta {
    width: 500px;
    height: 350px; } }

@media screen and (max-width: 1160px) {
  .menu-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; } }

@media screen and (max-width: 900px) {
  .menu-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px; }
  footer {
    flex-direction: column; } }

@media screen and (max-width: 670px) {
  .seccionNosotros, .seccionNuestroCompromiso {
    flex-direction: column; } }

@media screen and (max-width: 470px) {
  .footer-maps {
    width: 250px;
    height: 100px; } }

@media screen and (max-width: 400px) {
  .menu div article .imagen-de-producto {
    width: 293px;
    height: 439px; } }

@media screen and (max-width: 350px) {
  .seccionNosotros article img {
    width: 233.28px; }
  .seccionNuestroCompromiso article img {
    width: 200px; } }
