/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
  font-family: 'Brusher';
  src: url("../fonts/BRUSHER.TTF"); }

/* Misc */
/* variables */
.negro {
  color: #051629; }

.azul-secondary {
  color: #0057c2; }

.azul {
  color: #88a3c4; }

.rojo {
  color: #ad2c10; }

.blanco {
  color: #f8f8f8; }

.amarillo {
  color: #fbdb4c; }

.naranja {
  color: #e17c2c; }

.gris {
  color: #E1DFDC; }

.text-large {
  font-size: 5.2em; }

.text-semi-large {
  font-size: 3.5rem; }

.text-medium {
  font-size: 2.8em; }

.text-semi-medium {
  font-size: 2.2em; }

.text-base {
  font-size: 1.8em; }

.text-small {
  font-size: 1.2em; }

/* mixins */
/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Brusher"; }

ul {
  list-style: none;
  padding: 0%; }

a {
  text-decoration: none; }

/* partials */
/* header */
header {
  background-color: #fbdb4c; }
  header .navMobile {
    display: none; }
  header .nav-link {
    color: #051629;
    font-size: 2.8em;
    transition: all 0.6s; }
    header .nav-link:hover {
      color: #0057c2;
      border-bottom: 2px solid #ad2c10; }
  header .navbar-toggler-icon {
    font-size: 2.2em; }
  header .navDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0; }
    header .navDesktop ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2.4rem; }

/* footer */
footer {
  background-color: #88a3c4; }
  footer .redes {
    padding: 1rem;
    border-bottom: 2px solid #0057c2; }
    footer .redes article h5 {
      font-size: 3.5rem;
      color: #051629; }
    footer .redes article .redes__links img {
      width: 60px;
      height: 60px; }
  footer .esloganUbicacionMenu {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0; }
    footer .esloganUbicacionMenu__titulo {
      font-size: 3.5rem;
      color: #051629; }
    footer .esloganUbicacionMenu__texto {
      font-size: 1.8em;
      color: #0057c2; }
  footer .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0; }
    footer .copyright article {
      border-top: 2px solid #0057c2; }
      footer .copyright article p {
        font-size: 1.8em;
        color: #051629;
        margin-top: 1em; }

/* pages */
/* contacto */
.mainContacto {
  background-color: #FFDA4B; }
  .mainContacto .seccionFondoKurepaYLinks {
    overflow: hidden;
    position: relative; }
    .mainContacto .seccionFondoKurepaYLinks__img {
      width: 100%; }
    .mainContacto .seccionFondoKurepaYLinks__p {
      font-size: 5.2em;
      position: absolute;
      top: 38%;
      left: 80%;
      transform: translate(-50%, -50%); }
    .mainContacto .seccionFondoKurepaYLinks__linkFacebook {
      font-size: 5.2em;
      position: absolute;
      top: 30%;
      left: 76%;
      transform: translate(-50%, -50%); }
    .mainContacto .seccionFondoKurepaYLinks__linkInstagram {
      font-size: 5.2em;
      position: absolute;
      top: 30%;
      left: 84%;
      transform: translate(-50%, -50%); }
  .mainContacto .contenedorSeccionFormularioyHorarios {
    background: linear-gradient(to bottom, #fbdb4c 0%, #fbdb4c 50%, #f8f8f8 50%, #f8f8f8 100%); }
    .mainContacto .contenedorSeccionFormularioyHorarios h2 {
      font-size: 3.5rem; }
    .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.4rem; }
      .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios form {
        padding: 6rem 3rem; }
      .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__label {
        font-size: 2.8em;
        color: #E1DFDC; }
      .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__input {
        width: 520px;
        height: 55px;
        font-size: 2.8em; }
      .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__textArea {
        width: 520px;
        height: 275px;
        font-size: 2.8em; }
      .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios form {
        background-color: #051629; }
      .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios img {
        width: 580px;
        height: 849.98px; }

/* home */
main .contenedorDeGaleria {
  background-color: #ad2c10; }
  main .contenedorDeGaleria .galeriaDeInicio {
    background-color: #ad2c10;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1.4rem; }
    main .contenedorDeGaleria .galeriaDeInicio__article1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2; }
    main .contenedorDeGaleria .galeriaDeInicio__article2 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2; }
    main .contenedorDeGaleria .galeriaDeInicio__article3 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2; }
    main .contenedorDeGaleria .galeriaDeInicio__article4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }
    main .contenedorDeGaleria .galeriaDeInicio__article5 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 3; }
    main .contenedorDeGaleria .galeriaDeInicio__article6 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 3; }
    main .contenedorDeGaleria .galeriaDeInicio__article7 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4; }
    main .contenedorDeGaleria .galeriaDeInicio__article8 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 3;
      grid-row-end: 4; }
    main .contenedorDeGaleria .galeriaDeInicio__article9 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 4; }
    main .contenedorDeGaleria .galeriaDeInicio__img {
      width: 100%; }

main .descripcionLocal {
  background-color: #f8f8f8; }
  main .descripcionLocal__texto {
    color: #051629;
    text-align: center;
    font-size: 3.5rem; }

/* productos */
.mainMenu {
  background-color: #fbdb4c; }
  .mainMenu .encabezadoMenu {
    background: linear-gradient(to bottom, #FEF2E6 0%, #FEF2E6 50%, #fbdb4c 50%, #fbdb4c 100%); }
    .mainMenu .encabezadoMenu h2 {
      font-size: 3.5rem; }
  .mainMenu .contenedorMenu {
    background-color: #fbdb4c; }
    .mainMenu .contenedorMenu .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.5rem; }
      .mainMenu .contenedorMenu .menu h3 {
        font-size: 3.5rem; }
      .mainMenu .contenedorMenu .menu p {
        font-size: 2.8em; }
      .mainMenu .contenedorMenu .menu__texto {
        color: #E1DFDC;
        background-color: #051629; }
      .mainMenu .contenedorMenu .menu__article1 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 34px);
        justify-content: center;
        align-content: center;
        gap: 1rem; }
        .mainMenu .contenedorMenu .menu__article1__comida {
          grid-column-start: 1;
          grid-column-end: 8;
          grid-row-start: 1;
          grid-row-end: 8;
          z-index: 1; }
        .mainMenu .contenedorMenu .menu__article1__paquete {
          grid-column-start: 8;
          grid-column-end: 11;
          grid-row-start: 1;
          grid-row-end: 8;
          height: 350px;
          z-index: 3; }
        .mainMenu .contenedorMenu .menu__article1__texto {
          grid-column-start: 2;
          grid-column-end: 11;
          grid-row-start: 7;
          grid-row-end: 11;
          height: 167px;
          width: 920px;
          z-index: 2; }
          .mainMenu .contenedorMenu .menu__article1__texto p {
            padding: 4rem 1rem; }
      .mainMenu .contenedorMenu .menu__article2 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(11, 34px);
        justify-content: center;
        align-content: center;
        gap: 1rem; }
        .mainMenu .contenedorMenu .menu__article2__comida {
          grid-column-start: 4;
          grid-column-end: 11;
          grid-row-start: 1;
          grid-row-end: 8;
          z-index: 1; }
        .mainMenu .contenedorMenu .menu__article2__paquete {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 8;
          height: 350px;
          width: 250px;
          z-index: 3;
          justify-self: end; }
        .mainMenu .contenedorMenu .menu__article2__texto {
          grid-column-start: 1;
          grid-column-end: 10;
          grid-row-start: 7;
          grid-row-end: 11;
          height: 210px;
          width: 900px;
          z-index: 2; }
          .mainMenu .contenedorMenu .menu__article2__texto p {
            padding: 4.7rem 0.4rem; }
      .mainMenu .contenedorMenu .menu__article3 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 34px);
        justify-content: center;
        align-content: center;
        gap: 1rem; }
        .mainMenu .contenedorMenu .menu__article3__comida {
          grid-column-start: 1;
          grid-column-end: 8;
          grid-row-start: 1;
          grid-row-end: 8;
          z-index: 1; }
        .mainMenu .contenedorMenu .menu__article3__paquete {
          grid-column-start: 8;
          grid-column-end: 11;
          grid-row-start: 1;
          grid-row-end: 8;
          height: 350px;
          z-index: 3; }
        .mainMenu .contenedorMenu .menu__article3__texto {
          grid-column-start: 2;
          grid-column-end: 11;
          grid-row-start: 7;
          grid-row-end: 11;
          height: 167px;
          width: 920px;
          z-index: 2; }
          .mainMenu .contenedorMenu .menu__article3__texto p {
            padding: 2rem 1rem; }
          .mainMenu .contenedorMenu .menu__article3__texto h3 {
            padding: 1.2rem 1rem; }
  .mainMenu .contenedorPreparacion {
    background: linear-gradient(to bottom, #fbdb4c 0%, #fbdb4c 50%, #FEF2E6 50%, #FEF2E6 100%); }
    .mainMenu .contenedorPreparacion h3 {
      font-size: 3.5rem; }
    .mainMenu .contenedorPreparacion .preparacion {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      align-content: center;
      gap: 1rem; }
      .mainMenu .contenedorPreparacion .preparacion img {
        width: 100%; }
      .mainMenu .contenedorPreparacion .preparacion__article1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2; }
      .mainMenu .contenedorPreparacion .preparacion__article2 {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2; }
      .mainMenu .contenedorPreparacion .preparacion__article3 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3; }
      .mainMenu .contenedorPreparacion .preparacion__article4 {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3; }

/* puntos de venta */
.mainPuntosDeVenta .seccionImagenEncabezado img {
  width: 100%; }

.mainPuntosDeVenta .contenederoSeccionUbicaciones {
  background-color: #ad2c10; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr;
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article1 {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 1; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article2 {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 1; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article3 {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article4 {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      background: linear-gradient(to bottom, #ad2c10 0%, #ad2c10 30%, #051629 30%, #051629 100%); }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones img {
      width: 486px;
      height: 486px; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto {
      color: #E1DFDC;
      align-self: flex-start;
      padding: 2rem 7.1rem; }
      .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto h3 {
        font-size: 3.5rem; }
      .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto ul li span {
        font-size: 2.2em; }

.mainPuntosDeVenta .ContenedorSeccionInvitacion {
  background: linear-gradient(to bottom, #ad2c10 0%, #ad2c10 30%, #fbdb4c 30%, #fbdb4c 80%, #f8f8f8 80%, #f8f8f8 100%); }
  .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion__article1 {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 7; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion__article2 {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 9; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion__article3 {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 7;
      grid-row-end: 13; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion img {
      height: 800px; }

/* sobre nosotros */
.mainSobreNosotros .contenedorGaleriaElaboracionChipaSoo {
  background: linear-gradient(to bottom, #fbdb4c 0%, #fbdb4c 50%, #ad2c10 50%, #ad2c10 100%); }

.mainSobreNosotros .galeriaElaboracionChipaSoo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  gap: 1rem; }
  .mainSobreNosotros .galeriaElaboracionChipaSoo__article1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1; }
  .mainSobreNosotros .galeriaElaboracionChipaSoo__article2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1; }
  .mainSobreNosotros .galeriaElaboracionChipaSoo__article3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1; }
  .mainSobreNosotros .galeriaElaboracionChipaSoo__img {
    width: 100%;
    height: 100%;
    min-height: 200px;
    object-fit: cover; }

.mainSobreNosotros .seccionesNosotrosyNuestroCompromiso {
  background-color: #ad2c10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem; }
  .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso {
    padding: 0%;
    background-color: #051629;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0; }
    .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros .seccionNosotros__titulo, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso .seccionNosotros__titulo {
      font-size: 5.2em;
      color: #E1DFDC;
      text-align: center; }
    .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros .seccionNosotros__parrafo, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso .seccionNosotros__parrafo {
      font-size: 3.5rem;
      color: #E1DFDC; }

.mainSobreNosotros .contenedorDeGaleriaLogo {
  background: linear-gradient(to bottom, #ad2c10 0%, #ad2c10 50%, #f8f8f8 50%, #f8f8f8 100%); }
  .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1.4rem; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article2 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article3 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article5 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article6 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article7 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article8 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 3;
      grid-row-end: 4; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__article9 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 4; }
    .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo__img {
      width: 100%; }

/* media-querys*/
@media screen and (max-width: 1400px) {
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones img {
    width: 386px;
    height: 386px; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto {
    padding: 2rem 3.8rem; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article2 h3 {
    padding: 2rem 0; } }

@media screen and (max-width: 1200px) {
  .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros__img {
      width: 100%; }
  .mainContacto .seccionFondoKurepaYLinks__p {
    top: 35%;
    left: 77%; }
  .mainContacto .seccionFondoKurepaYLinks__linkFacebook {
    top: 25%;
    left: 72%; }
  .mainContacto .seccionFondoKurepaYLinks__linkInstagram {
    top: 25%;
    left: 82%; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
  .mainMenu .contenedorMenu .menu__article1 {
    grid-template-rows: repeat(9, 34px); }
    .mainMenu .contenedorMenu .menu__article1__comida {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 7;
      width: 650px; }
    .mainMenu .contenedorMenu .menu__article1__paquete {
      grid-column-start: 8;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: 7;
      height: 340px; }
    .mainMenu .contenedorMenu .menu__article1__texto {
      height: 167px;
      width: 837px;
      grid-column-start: 2;
      grid-column-end: 11;
      grid-row-start: 6;
      grid-row-end: 10; }
      .mainMenu .contenedorMenu .menu__article1__texto p {
        padding: 4.8rem 1rem; }
      .mainMenu .contenedorMenu .menu__article1__texto h3 {
        padding: 1.2rem 1rem; }
  .mainMenu .contenedorMenu .menu__article2 {
    grid-template-rows: repeat(10, 34px); }
    .mainMenu .contenedorMenu .menu__article2__comida {
      width: 650px; }
    .mainMenu .contenedorMenu .menu__article2__paquete {
      height: 340px;
      width: 240px; }
    .mainMenu .contenedorMenu .menu__article2__texto {
      height: 167px;
      width: 837px; }
      .mainMenu .contenedorMenu .menu__article2__texto p {
        padding: 0.8rem 1rem; }
      .mainMenu .contenedorMenu .menu__article2__texto h3 {
        padding: 1.2rem 1rem; }
  .mainMenu .contenedorMenu .menu__article3 {
    grid-template-rows: repeat(9, 34px); }
    .mainMenu .contenedorMenu .menu__article3__comida {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 7;
      width: 650px; }
    .mainMenu .contenedorMenu .menu__article3__paquete {
      grid-column-start: 8;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: 7;
      height: 340px; }
    .mainMenu .contenedorMenu .menu__article3__texto {
      height: 167px;
      width: 837px;
      grid-column-start: 2;
      grid-column-end: 11;
      grid-row-start: 6;
      grid-row-end: 10; }
      .mainMenu .contenedorMenu .menu__article3__texto p {
        padding: 4.8rem 1rem; }
      .mainMenu .contenedorMenu .menu__article3__texto h3 {
        padding: 1.2rem 1rem; } }

@media screen and (max-width: 1100px) {
  main .contenedorDeGaleria .galeriaDeInicio {
    gap: 0.8rem; }
  .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo {
    gap: 0.8rem; } }

@media screen and (max-width: 993px) {
  header .navDesktop {
    display: none; }
  header .navMobile {
    display: block; }
  header .nav-link {
    font-size: 2.2em; }
  .mainContacto .seccionFondoKurepaYLinks__p {
    top: 35%;
    left: 77%; }
  .mainContacto .seccionFondoKurepaYLinks__linkFacebook {
    top: 25%;
    left: 70%; }
  .mainContacto .seccionFondoKurepaYLinks__linkInstagram {
    top: 25%;
    left: 84%; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4fr;
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article1 {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: 1; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article2 {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 2;
      grid-row-end: 3; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article3 {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 4;
      grid-row-end: 5; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article4 {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 6;
      grid-row-end: 7; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto {
      padding: 2rem 2.7rem; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones h3 {
      padding: 1rem 0; }
  .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion img {
    height: 600px; }
  .mainMenu .contenedorMenu .menu h3 {
    font-size: 2.8em; }
  .mainMenu .contenedorMenu .menu p {
    font-size: 1.8em; }
  .mainMenu .contenedorMenu .menu__article1 {
    grid-template-rows: repeat(7, 34px);
    grid-template-columns: repeat(6, 1fr); }
    .mainMenu .contenedorMenu .menu__article1__comida {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 6;
      width: 500px;
      justify-self: end; }
    .mainMenu .contenedorMenu .menu__article1__paquete {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 7;
      height: 250px; }
    .mainMenu .contenedorMenu .menu__article1__texto {
      height: 110px;
      width: 630px;
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 8; }
      .mainMenu .contenedorMenu .menu__article1__texto p {
        padding: 2.3rem 0rem 0rem 0rem; }
      .mainMenu .contenedorMenu .menu__article1__texto h3 {
        padding: 0.7rem 1rem; }
  .mainMenu .contenedorMenu .menu__article2 {
    grid-template-rows: repeat(8, 34px);
    grid-template-columns: repeat(6, 1fr); }
    .mainMenu .contenedorMenu .menu__article2__comida {
      width: 500px;
      height: 239px;
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 6; }
    .mainMenu .contenedorMenu .menu__article2__paquete {
      height: 250px;
      width: 189px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 6; }
    .mainMenu .contenedorMenu .menu__article2__texto {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 5;
      grid-row-end: 9;
      height: 155px;
      width: 670px; }
      .mainMenu .contenedorMenu .menu__article2__texto p {
        padding: 2.5rem 0rem 0rem 0rem; }
      .mainMenu .contenedorMenu .menu__article2__texto h3 {
        padding: 1.2rem 1rem; }
  .mainMenu .contenedorMenu .menu__article3 {
    grid-template-rows: repeat(7, 34px);
    grid-template-columns: repeat(6, 1fr); }
    .mainMenu .contenedorMenu .menu__article3__comida {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 6;
      width: 500px;
      justify-self: end; }
    .mainMenu .contenedorMenu .menu__article3__paquete {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 7;
      height: 250px; }
    .mainMenu .contenedorMenu .menu__article3__texto {
      height: 110px;
      width: 630px;
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 8; }
      .mainMenu .contenedorMenu .menu__article3__texto p {
        padding: 2.3rem 0rem 0rem 0rem; }
      .mainMenu .contenedorMenu .menu__article3__texto h3 {
        padding: 0.7rem 1rem; } }

@media screen and (max-width: 800px) {
  main .descripcionLocal__texto {
    font-size: 2.8em; }
  .mainSobreNosotros .galeriaElaboracionChipaSoo {
    gap: 0.2rem; }
  .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros .seccionNosotros__titulo, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso .seccionNosotros__titulo {
    font-size: 3.5rem; }
  .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros .seccionNosotros__parrafo, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso .seccionNosotros__parrafo {
    font-size: 2.8em; }
  .mainContacto .seccionFondoKurepaYLinks__p {
    font-size: 3.5rem; }
  .mainContacto .seccionFondoKurepaYLinks__linkFacebook {
    width: 65px;
    top: 25%;
    left: 72%; }
  .mainContacto .seccionFondoKurepaYLinks__linkInstagram {
    width: 65px;
    top: 25%;
    left: 82%; }
  .mainMenu .contenedorMenu .menu__article1 {
    grid-template-rows: repeat(6, 34px);
    grid-template-columns: repeat(5, 1fr); }
    .mainMenu .contenedorMenu .menu__article1__comida {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 5;
      width: 400px; }
    .mainMenu .contenedorMenu .menu__article1__paquete {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 6;
      height: 200px; }
    .mainMenu .contenedorMenu .menu__article1__texto {
      height: 122px;
      width: 500px;
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 7; }
      .mainMenu .contenedorMenu .menu__article1__texto p {
        padding: 1.8rem 1rem 0rem 1rem; }
      .mainMenu .contenedorMenu .menu__article1__texto h3 {
        padding: 0.7rem 1rem; }
  .mainMenu .contenedorMenu .menu__article2 {
    grid-template-rows: repeat(7, 34px);
    grid-template-columns: repeat(12, 1fr); }
    .mainMenu .contenedorMenu .menu__article2__comida {
      width: 415px;
      height: 191px;
      grid-column-start: 4;
      grid-column-end: 10;
      grid-row-start: 1;
      grid-row-end: 5; }
    .mainMenu .contenedorMenu .menu__article2__paquete {
      height: 200px;
      width: 147px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 5; }
    .mainMenu .contenedorMenu .menu__article2__texto {
      grid-column-start: 3;
      grid-column-end: 10;
      grid-row-start: 4;
      grid-row-end: 9;
      height: 155px;
      width: 540px; }
      .mainMenu .contenedorMenu .menu__article2__texto p {
        padding: 2.5rem 1rem 0rem 1rem; }
      .mainMenu .contenedorMenu .menu__article2__texto h3 {
        padding: 1.2rem 1rem; }
  .mainMenu .contenedorMenu .menu__article3 {
    grid-template-rows: repeat(6, 34px);
    grid-template-columns: repeat(5, 1fr); }
    .mainMenu .contenedorMenu .menu__article3__comida {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 5;
      width: 400px; }
    .mainMenu .contenedorMenu .menu__article3__paquete {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 6;
      height: 200px; }
    .mainMenu .contenedorMenu .menu__article3__texto {
      height: 122px;
      width: 500px;
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 7; }
      .mainMenu .contenedorMenu .menu__article3__texto p {
        padding: 1.8rem 1rem 0rem 1rem; }
      .mainMenu .contenedorMenu .menu__article3__texto h3 {
        padding: 0.7rem 1rem; }
  .mainMenu .contenedorPreparacion {
    background: linear-gradient(to bottom, #fbdb4c 0%, #fbdb4c 50%, #FEF2E6 50%, #FEF2E6 100%); }
    .mainMenu .contenedorPreparacion h3 {
      font-size: 3.5rem; }
    .mainMenu .contenedorPreparacion .preparacion {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      justify-content: center;
      align-content: center;
      gap: 1rem; }
      .mainMenu .contenedorPreparacion .preparacion img {
        width: 100%; }
      .mainMenu .contenedorPreparacion .preparacion__article1 {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2; }
      .mainMenu .contenedorPreparacion .preparacion__article2 {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3; }
      .mainMenu .contenedorPreparacion .preparacion__article3 {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4; }
      .mainMenu .contenedorPreparacion .preparacion__article4 {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 4;
        grid-row-end: 5; }
  footer .esloganUbicacionMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    footer .esloganUbicacionMenu__titulo {
      text-align: center; }
    footer .esloganUbicacionMenu li {
      text-align: center; } }

@media screen and (max-width: 768px) {
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article1 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article2 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article3 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__article4 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 7; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto {
    padding: 0 4.4rem; }
  .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion__article1 {
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 5; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion__article2 {
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 5;
      grid-row-end: 9; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion__article3 {
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 9;
      grid-row-end: 13; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion article {
      text-align: center !important; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion img {
      height: 700px; } }

@media screen and (max-width: 750px) {
  main .contenedorDeGaleria .galeriaDeInicio {
    gap: 0.4rem; }
  .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo {
    gap: 0.4rem; }
  .mainContacto .seccionFondoKurepaYLinks__linkFacebook {
    width: 65px;
    top: 25%;
    left: 70%; }
  .mainContacto .seccionFondoKurepaYLinks__linkInstagram {
    width: 65px;
    top: 25%;
    left: 83%; }
  .mainContacto .contenedorSeccionFormularioyHorarios h2 {
    font-size: 2.8em; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__label {
    font-size: 2.2em; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__input {
    width: 300px;
    height: 30px; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__textArea {
    width: 300px;
    height: 170px; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios img {
    width: 360px;
    height: 540px; } }

@media screen and (max-width: 683px) {
  .mainMenu .contenedorMenu .menu__article1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainMenu .contenedorMenu .menu__article1__comida {
      grid-column-start: 2;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 7;
      align-self: end;
      justify-self: start; }
    .mainMenu .contenedorMenu .menu__article1__paquete {
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 7;
      grid-row-end: 13; }
    .mainMenu .contenedorMenu .menu__article1__texto {
      grid-column-start: 6;
      grid-column-end: 13;
      grid-row-start: 7;
      grid-row-end: 13;
      height: 200px;
      width: 243px; }
      .mainMenu .contenedorMenu .menu__article1__texto p {
        padding: 4rem 1rem; }
  .mainMenu .contenedorMenu .menu__article2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainMenu .contenedorMenu .menu__article2__comida {
      grid-column-start: 2;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 7;
      align-self: end;
      justify-self: start;
      width: 400px; }
    .mainMenu .contenedorMenu .menu__article2__paquete {
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 7;
      grid-row-end: 13;
      width: 147.42px; }
    .mainMenu .contenedorMenu .menu__article2__texto {
      grid-column-start: 6;
      grid-column-end: 13;
      grid-row-start: 7;
      grid-row-end: 13;
      height: 230px;
      width: 243px; }
      .mainMenu .contenedorMenu .menu__article2__texto p {
        padding: 0 1rem; }
  .mainMenu .contenedorMenu .menu__article3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem; }
    .mainMenu .contenedorMenu .menu__article3__comida {
      grid-column-start: 2;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 7;
      align-self: end;
      justify-self: start; }
    .mainMenu .contenedorMenu .menu__article3__paquete {
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 7;
      grid-row-end: 13; }
    .mainMenu .contenedorMenu .menu__article3__texto {
      grid-column-start: 6;
      grid-column-end: 13;
      grid-row-start: 7;
      grid-row-end: 13;
      height: 200px;
      width: 243px; }
      .mainMenu .contenedorMenu .menu__article3__texto p {
        padding: 4rem 1rem; } }

@media screen and (max-width: 500px) {
  main .contenedorDeGaleria .galeriaDeInicio {
    gap: 0.1rem; }
  .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros .seccionNosotros__titulo, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso .seccionNosotros__titulo {
    font-size: 2.8em; }
  .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNosotros .seccionNosotros__parrafo, .mainSobreNosotros .seccionesNosotrosyNuestroCompromiso .seccionNuestroCompromiso .seccionNosotros__parrafo {
    font-size: 2.2em; }
  .mainSobreNosotros .contenedorDeGaleriaLogo .galeriaLogo {
    gap: 0.1rem; }
  .mainContacto .seccionFondoKurepaYLinks__p {
    font-size: 2.8em; }
  .mainContacto .seccionFondoKurepaYLinks__linkFacebook {
    width: 45px; }
  .mainContacto .seccionFondoKurepaYLinks__linkInstagram {
    width: 45px; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones img {
    width: 286px;
    height: 286px; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto {
    padding: 0;
    text-align: center;
    margin: auto; }
    .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones__texto h3 {
      font-size: 2.8em; }
  .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion img {
    height: 550px; }
  .mainMenu .encabezadoMenu img {
    width: 100%; }
  .mainMenu .contenedorMenu .menu {
    padding: 1rem 0 !important; }
    .mainMenu .contenedorMenu .menu__article1 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 181px 220px;
      justify-content: center;
      align-content: center;
      gap: 1rem; }
      .mainMenu .contenedorMenu .menu__article1__comida {
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;
        justify-self: start;
        width: 270px;
        height: 181px; }
      .mainMenu .contenedorMenu .menu__article1__paquete {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100px;
        height: 190px; }
      .mainMenu .contenedorMenu .menu__article1__texto {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 220px;
        width: 160px; }
        .mainMenu .contenedorMenu .menu__article1__texto p {
          padding: 0 1rem; }
    .mainMenu .contenedorMenu .menu__article2 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 191px 350px;
      justify-content: center;
      align-content: center;
      gap: 1rem;
      margin-top: 0; }
      .mainMenu .contenedorMenu .menu__article2__comida {
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;
        justify-self: start;
        width: 270px; }
      .mainMenu .contenedorMenu .menu__article2__paquete {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100px;
        height: 190px; }
      .mainMenu .contenedorMenu .menu__article2__texto {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 350px;
        width: 160px; }
        .mainMenu .contenedorMenu .menu__article2__texto p {
          padding: 0 1rem; }
    .mainMenu .contenedorMenu .menu__article3 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 181px 220px;
      justify-content: center;
      align-content: center;
      gap: 1rem; }
      .mainMenu .contenedorMenu .menu__article3__comida {
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;
        justify-self: start;
        width: 270px;
        height: 181px; }
      .mainMenu .contenedorMenu .menu__article3__paquete {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100px;
        height: 190px; }
      .mainMenu .contenedorMenu .menu__article3__texto {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 220px;
        width: 160px; }
        .mainMenu .contenedorMenu .menu__article3__texto p {
          padding: 0 1rem; } }

@media screen and (max-width: 380px) {
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__input {
    width: 200px;
    height: 20px; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios__textArea {
    width: 200px;
    height: 100px; }
  .mainContacto .contenedorSeccionFormularioyHorarios .seccionFormularioyHorarios img {
    width: 260px;
    height: 430px; }
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones img {
    width: 230px;
    height: 230px; }
  .mainPuntosDeVenta .ContenedorSeccionInvitacion {
    padding: 10px !important; }
    .mainPuntosDeVenta .ContenedorSeccionInvitacion .seccionInvitacion img {
      height: 400px; } }

@media screen and (max-width: 300px) {
  .mainPuntosDeVenta .contenederoSeccionUbicaciones .seccionUbicaciones {
    padding: 1rem !important; } }
