@media screen and (max-width: 1300px){

    .maps-puntos-de-venta{
        width: 500px;
        height: 350px;
    }
    
}

@media screen and (max-width: 1100px){
    main{
        .contenedorDeGaleria{
            .galeriaDeInicio{
                gap: 0.8rem;
            }
        }   
    }
     
}

@media screen and (max-width: 993px){
    header{
        .navDesktop{
            display: none;
        }
        .navMobile{
            display: block;
        }
        .nav-link{
            font-size: map-get($textos, text-semi-medium );
        }
    }
     
}

@media screen and (max-width:800px){
    main{
        .descripcionLocal{
            &__texto{
                font-size: map-get($textos, text-medium)
            }
        }
    }
    footer{
        .esloganUbicacionMenu{
            @include flex(column, center, center, 0);
            &__titulo{
                text-align: center;
            }
            li{
                text-align: center;
            }
        }

    }
}

@media screen and (max-width: 750px){
    main{
        .contenedorDeGaleria{
            .galeriaDeInicio{
                gap: 0.4rem;
            }
        }   
    }
        
}

@media screen and (max-width: 670px){
    .seccionNosotros, .seccionNuestroCompromiso{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    main{
        .contenedorDeGaleria{
            .galeriaDeInicio{
                gap: 0.1rem;
            }
        }   
    }
}

@media screen and (max-width: 350px){
    
    .seccionNosotros article img{
        width: 233.28px;
    }
    
    .seccionNuestroCompromiso article img{
        width: 200px;
    }

}