*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#facebook-icon, #instagram-icon{
    width: 24px;
    height: 24px;
}

#whatsapp-icon{
    width: 28px;
    height: 28px;
}