$colores:(
    negro: #051629,
    azul:#618ec5,
    rojo:#ad2c10,
    blanco:#e1dfdc,
    amarillo:#fbdb4c,
    naranja:#e17c2c
    );

    @each $color, $value in $colores{
        .#{$color}{
            color: #{$value};
        }
    }