$colores:(
    negro: #051629,
    azul-secondary:#0057c2,
    azul:#88a3c4,
    rojo:#ad2c10,
    blanco:#f8f8f8,
    amarillo:#fbdb4c,
    naranja:#e17c2c,
    gris:#E1DFDC,
    );

    @each $color, $value in $colores{
        .#{$color}{
            color: #{$value};
        }
    }

$spacing-small:2.4rem;

$font-principal: 'Brusher';

$textos:(
    text-large: 5.2em,
    text-semi-large:3.5rem,
    text-medium: 2.8em,
    text-semi-medium: 2.2em,
    text-base: 1.8em,
    text-small:1.2em,
    );
    
    @each $texto, $value in $textos{
        .#{$texto}{
             font-size: #{$value};
        }
    }

