footer{
    background-color: map-get($colores, azul);
    .esloganUbicacionMenu{
        @include flex(row, space-evenly, center, 0);
        &__titulo{
            font-size: map-get($textos, text-semi-large);
            color: map-get($colores, negro);
        }
        &__texto{
            font-size: map-get($textos, text-base);
            color: map-get($colores, azul-secondary);
        }

    }

    .copyright{
        @include flex(row, center, flex-end, 0);
            article{
                border-top: 2px solid map-get($colores, azul-secondary);
                p{
                    font-size: map-get($textos, text-base);
                    color: map-get($colores, negro);
                    margin-top: 1em ;
                    
                }
            }
    }
}