footer{

    background-color: map-get($colores, amarillo);
    @include flex(row, space-around, center, 0);
    padding: 2rem;

    div{
        @include flex(column, flex-start, center, 0);

        ul{
            display: flex;
            list-style: none;
            
            li{
                margin:0.2rem;
                padding: 0.2rem;
                text-align: center; 
            }
        }

        h5{
            @extend li;
        }

        p{
            @extend li;
        }

    }

}

.footer-maps{
    width: 450px;
    height: 300px;
}