header{
    background-color: $col-amarillo;
    nav{
        div{
            a{
                img{
                    width: 108px;
                    height: 108px;
                }
            }
        }
    }
}