header{
    background-color: map-get($colores, amarillo);
    nav{
        div{
            a{
                img{
                    width: 108px;
                    height: 108px;
                }
            }
        }
    }
}