main{

    .contenedorDeGaleria{
        background-color: map-get($colores, rojo);
        .galeriaDeInicio{
            background-color: map-get($colores, rojo);
            max-width: 1200px;
            @include grid(repeat(12, 1fr), repeat(3, 1fr), center, center, 1.4rem);
            &__article1{
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            &__article2{
                grid-column-start: 5;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            &__article3{
                grid-column-start: 9;
                grid-column-end: 13;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            &__article4{
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            &__article5{
                grid-column-start: 5;
                grid-column-end: 9;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            &__article6{
                grid-column-start: 9;
                grid-column-end: 13;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            &__article7{
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &__article8{
                grid-column-start: 5;
                grid-column-end: 9;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &__article9{
                grid-column-start: 9;
                grid-column-end: 13;
                grid-row-start: 3;
                grid-row-end: 4;
            }

            &__img{
                width: 100%;
            }

        }
    }

    .descripcionLocal{
       background-color: map-get($colores, blanco);
        &__texto{
            color: map-get($colores, negro);
            text-align: center;
            font-size: map-get($textos, text-semi-large)
        }

    }
    
}


