.mainPuntosDeVenta{
    background-color:$col-naranja; 
}

.seccionUbicaciones{
    text-align: center;

    h2{
        font-size: 30px;
    }

    article{
        border: 1px solid $col-blanco;

        div{
            img{
                width: 25.02px;
            }
        }

    }
}

.seccionMaps{
    text-align: center;
}

.seccionInvitacion{
    background-color: $col-azul;
    text-align: center;

    h4{
        font-size: 20px;
    }
}