.mainPuntosDeVenta{
    background-color:map-get($colores, naranja); 
}

.seccionUbicaciones{
    text-align: center;

    h2{
        font-size: 30px;
    }

    article{
        border: 1px solid map-get($colores, blanco);

        div{
            img{
                width: 25.02px;
            }
        }

    }
}

.seccionMaps{
    text-align: center;
}

.seccionInvitacion{
    background-color: map-get($colores, azul);
    text-align: center;

    h4{
        font-size: 20px;
    }
}