.mainSobreNosotros{
    background-color: map-get($colores, naranja);
    @include flex(column, flex-start, flex-start, 0);
}
.seccionFondoTituloSobreNosotros{
    background: url("../img/Imagenparacarousel3.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    @include flex(row, center, center, 0);

    h2{
        font-size: 30px;
        text-align: center;
    }
    p{
        @extend h2;
    }
}
.seccionesNosotrosyNuestroCompromiso{
    @include flex(column, center, flex-start, 0);
}

.seccionNosotros{
    @include flex(row, flex-start, center, 0);

    article{
        h3{
            font-size: 28px;
            text-align: center;
            margin:0.2rem;
            padding: 0.2rem;
        }

        p{
            @extend h3;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }

        img{
            width: 324px;
            padding: 1rem;
        }
        
    }

}

.seccionNuestroCompromiso{
    @include flex(row, flex-start, center, 0);

    article{
        h3{
            font-size: 28px;
            text-align: center;
            margin:0.2rem;
            padding: 0.2rem;
        }

        p{
            @extend h3;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }

        img{
            width: 300px;
            padding: 1rem;
        }
    }

}